<%- include('../partials/header', {
  pageTitle: 'Approvals & Certifications | Nusrat International',
  cssFiles: ['common.css', 'certifications.css'],
  activePage: 'about',
  bodyClass: ''
}) %>

<!-- TITLE -->
<div class="cert-page-title">
  <span class="cert-tag">📜 OFFICIAL LICENSES</span>
  <h1>Approvals &amp; Certifications</h1>
  <p>Every license we hold is a commitment to the highest standards of integrity and professionalism.</p>
</div>

<!-- CERT GRID -->
<div class="cert-wrap">
  <div class="cert-grid">

    <div class="cert-item">
      <div class="cert-img-wrap">
        <img src="https://imgs.search.brave.com/lRPPDKENw9rearEYwDJPoGF7f_NXqE5uoX8fc5YEpAE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/Zm1hc3NvY2lhdGVz/YmQuY29tL2ltYWdl/cy90cmFkZV9saWNl/bnNlL3NhbXBsZV90/cmFkZV9saWNlbnNl/X0JhbmdsYWRlc2gu/anBn" alt="IATA">
      </div>
      <div class="cert-name">IATA Accredited</div>
    </div>

    <div class="cert-item">
      <div class="cert-img-wrap">
        <img src="https://www.baira.org.bd/assets/public/images/profile.jpg" alt="BAIRA">
      </div>
      <div class="cert-name">BAIRA Member</div>
    </div>

    <div class="cert-item">
      <div class="cert-img-wrap">
        <img src="https://www.tbsnews.net/sites/default/files/styles/big_2/public/images/2022/01/13/atab.jpg" alt="ATAB">
      </div>
      <div class="cert-name">ATAB Member</div>
    </div>

    <div class="cert-item">
      <div class="cert-img-wrap cert-text-card">
        <span class="cert-code">RL-1429</span>
        <span class="cert-sub">Govt. Approved</span>
      </div>
      <div class="cert-name">Recruiting License</div>
    </div>

    <div class="cert-item">
      <div class="cert-img-wrap cert-text-card">
        <span class="cert-code cert-code-large">BMET</span>
        <span class="cert-sub">Registered Agency</span>
      </div>
      <div class="cert-name">BMET Registered</div>
    </div>

    <div class="cert-item">
      <div class="cert-img-wrap cert-text-card gold-card">
        <span class="cert-code cert-code-medium">Hajj<br>Ministry</span>
        <span class="cert-sub">Approved Agency</span>
      </div>
      <div class="cert-name">Hajj Ministry Approved</div>
    </div>

  </div>
</div>

<%- include('../partials/footer') %>